a{
    text-decoration: none;
    font-size: 11px;
    color: #333;
}
a:hover{
    color: #1890ff;
}
li{
    list-style: none;
}
.clearfix{
    content: "";
    clear: both;
    height: 0;
    *zoom: 1;
    display: block;
    visibility: hidden;
}