/* 顶部
---------------------------------------------------------------- */
.top{
    height: 30px;
    /* background-color: red; */
}
.container{
    line-height: 30px;
    background-color: ;
}
.top-container-left{
    float: left;
    margin-left: 251px;
}
.top-container-right{
    margin-right: 246px;
}
.top li{
    float: right;
}
.top li a{
    float: right;
    margin-right: 20px;
}
/* 头部
---------------------------------------------------------------- */
.header{
    height: 110px;
    background-color: yellow;
}
/* 焦点
---------------------------------------------------------------- */
.focus{
    height: 470px;
    background-color: blue;
}
/* 热销导航
---------------------------------------------------------------- */
.hot{
    height: 340px;
    background-color: green;
}
/* 楼层
---------------------------------------------------------------- */
.floor{
    height: 800px;
    background-color: greenyellow;
}
/* 底部
---------------------------------------------------------------- */
.footer{
    height: 250px;
    background-color: pink;
}